/* Challenge styles
-------------------------------------------------- */

.challenge-desc {
  overflow-wrap: anywhere;

  img {
    max-width: 100%;
  }
}

.challenge-tag {
  background-color: #f22c54 !important;
  font-size: 1rem;
  color: #fff;
  border-radius: 0;
}

.challenge-button {
  box-shadow: 3px 3px 3px #6e193c;
  background-color: #6e192a;
  border-radius: 0;
}

.challenge-button:hover {
  background-color: #962239;
}

.challenge-submit {
  border-radius: 0;
}

.challenge-solved {
  background-color: #37d63e !important;
  opacity: 0.6;
  border: none;
}

.modal-content {
  border-radius: 0;
  background-color: #1e1e1e;
  color: #aaa;
}

.nav-tabs .nav-link {
  border-radius: 0;
}

.btn-close {
  color: #aaa;
}

.challenge-solves {
  color: #aaa;
}